/* You can add global styles to this file, and also import other style files */
/** {
    border: 1px dashed yellow;
}*/

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #2a3698;
}